body {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: Montserrat;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
  h3, h4, h5, h6 {
	color: #444;

}


h1, h2{
	color: #8C2F52;
}

#left .list-unstyled h4{
	color: #fff;
	font-family: Montserrat;
	font-weight: 400;
	line-height: 15px;
}

/* default font size */
.fa {
	font-size: 14px;
	
}

 .fa-home {
	font-size: 14px;
	color: #EF8191;
}

#bt-update .btn-primary {
  	background-color: transparent;
  	border-color: #cccccc;
  }

  #bt-update .btn-primary:hover {
  	color: #666
 	background-color: transparent;
  	border-color: #cccccc;
  }

 .fa-refresh{
 	color: #666;
 }

 #bt-update .btn-primary:hover .fa-refresh{
 	color: #8C2F52;
 }

 

 #bt-update .btn-danger {
 	background-color: transparent;
  	border-color: #cccccc;

 }

  #bt-update .btn-danger:hover {
  	color: #666
 	background-color: transparent;
  	border-color: #cccccc;

 }

  #bt-update .btn-danger:hover .fa-times-circle {
 	color: #8C2F52;
 }



 #fa-size .fa-whatsapp {
	font-size: 17px;
	color: #fff;

}

#fa-size .fa-whatsapp:hover {
	color: #EF8191;

}

#fa-size-sn .fa-facebook, .fa-instagram, .fa-twitter {
	font-size: 22px;
	color: #EF8191;
}

#fa-size-sn .fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover {
	color: #fff;
}

#fa-size-mail .fa-envelope{
	color: #EF8191;

}

#fa-size-mail .fa-envelope:hover{
	color: #fff;
}


/* Override the bootstrap defaults */
h1 {
	font-size: 26px;
}
h2 {
	font-size: 21px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	/*color: #23a1d1;*/
	color: #000000;
}
a:hover {
	text-decoration: none;
}



legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #000000;
	/*background-color: #229ac8;*/
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
}
/* top */
#top {
	/*background-color: #EEEEEE;*/
	background-color: transparent;
	/*border-bottom: 1px solid #e2e2e2;*/
	padding: 0px 0px 0px 0;
	margin: 0;
	min-height: 40px;
	height: 0;
}
#top .container {
	padding: 0 20px;
	
}
 

#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
	font-family: Montserrat;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #8C2F52;
	/*background-color: #229ac8;*/
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #8C2F52;
}


#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 4px;
}
#top-links a + a {
	margin-left: 15px;
}

/*
.pull-right{

	padding-right: 45px;
}

*/
/* logo */
#logo {
	margin: auto;
    	text-align: center;
	width: 200px;
	
}

#logo a  {
	color: #8C2F52;
    font-family: Cinzel;
    font-size: 55.92px;
}

h3.logo_small {
	color: #8C2F52;
	font-family: Montserrat;
	font-size: small;
	letter-spacing: 5px;

	padding-left: 0px;

	text-align: center;

	margin-top: -10px;
}

.logo-footer{

	width: 200px;
	
}

.logo-footer{

	margin:auto;
	text-align:center;

	
}

h5.title-footer{
	padding-top: 56px;
	margin-left: 15px;
    
}


/* search */
#search {
	margin-top: 5px;
    margin-bottom: -39px;
    margin-right: 4em;
}
#search .input-lg {
	height: 30px;
	line-height: 20px;
	padding: 0 10px;
	font-size: 12px;
	font-family: 

}
	
#search .btn-lg {
	font-size: 12px;
    line-height: 15px;
	padding: 7px 13px;
	text-shadow: 0 1px 0 #FFF;
	background-color: transparent;
	color: #8C2F52;
	height: 30px;
	margin: 0px 0px 0px -41px;
}

#search .btn-lg:hover {
	color: #EF8191;
    

}

#search .btn {
	border-radius: 1px;
	border: 1px solid transparent;
}

#search .btn:hover {
	border-color: transparent;
}
/* cart */
#cart {
	margin-bottom: 0px;
}

#cart p.text-center{

	color: #444;
}
#cart > .btn {
	font-size: 12px;
	line-height: 30px;
	color: #888;
	padding: inherit;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: white;
	z-index: 1001;
}
#cart .dropdown-menu {
	/*min-width: 100%;*/
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		/*width: 250%;*/
	}

}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}

}
#cart .dropdown-menu li p {
	margin: 20px 0;
}

.dropdown-menu.pull-right {
	right: 0px;
    left: auto;
}
/* menu */
#menu {
	background-color: transparent;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
	/*border-color: #1f90bb #1f90bb #145e7a;*/
	min-height: 0px;
}


#menu .nav > li > a {
	/*color: #fff;*/
	color: #000000;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	/*padding: 10px 15px 10px 15px;*/
	padding: 13px 51px 10px 39px;
	min-height: 15px;
	background-color: transparent;
	padding-bottom: 0px;
	font-family: Montserrat;
}


/* Animate Border Bottom Menu*/
#menu .dropdown-toggle::after {
	content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #8C2F52;
}

#menu .dropdown-toggle:hover::after {
	width: 100%;
    transition: width .4s;
}

#menu .dropdown-menu {
	padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    background-size: cover;
}




#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}


#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}

#menu .dropdown-inner li a:hover {
	color: #8C2F52;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #EF8191;
	/*background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #000000;
	/*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
}

/* Menu gusano*/
#menu .btn-navbar {

	font-size: 15px;
	font-stretch: expanded;
	color: #666;
	padding: 0px;
	float: left;
	background-color: transparent;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
	/*border-color: #1f90bb #1f90bb #145e7a;*/
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #8C2F52;
	background-color: transparent;

	
}

#menu .fa-bars {
	font-size: 25px;
    box-shadow: inset 0 3px 5px white;
}
#menu .btn:active:focus{
	outline-color: white;
    outline-width: 1px;

}

#menu .navbar-toggle{
	margin-top: -36px;
}


@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}


}

@media (min-width: 768px) {

	.text-mayorclub{
		font-size: 15px;
		color: #000000;
	    font-family: Montserrat;
	    font-weight: Bold;
	    text-align: center;
	    line-height: 1.6;
		}


}


.col-sm-10 {
	float: inherit;
}

@media (min-width: 768px) {
	.col-sm-4{
		    width: 33.33333333%;
		    margin: auto;
    		text-align: center;
		   
			}
	/*nombre de producto */
	
	.col-sm-13{
		    width: 33.33333333%;
		    margin: auto;
    		text-align: left;
		   
			}

	.col-sm-13 > h1 {
		font-size: 22px;
		font-family: Montserrat;
		color: #8C2F52;
			}	

		.col-sm-10 {
		float: left;
}

		.col-sm-3 {
		    width: 25%;
		    float: left;
		    
		}

		.col-lg-3 {
				width: 24%;
			}


		.col-sm-9 {
		    width: 72%;
		}

		.row div.col-sm-3{

			padding-top: 10px;
		    
		}

		.navbar-nav > li {
			
		    text-align: center;
		    float: left;
		    /* AÑADIMOS */
		    position: relative; 
		    

		}

	}

	/* Test*/
	.row div.col-sm-3{

	padding-top: 0px;
	text-align: center;

	}

#content div.col-sm-3{

	padding-top: 0px;
	text-align: left;

	}



.navbar {
	margin-bottom: 0px;
}

@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 10 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
		background-size: contain;
    	background-repeat: round;
    	margin: 2px 28px 0;

	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: transparent;
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
	.text-mayorclub {
	font-size: 5.5px;
    color: #000000;
    font-family: Montserrat;
    font-weight: Bold;
    Text-align:center;
    line-height: 1.6;

	}

	footer a {
    color: #ccc;
    text-decoration: none;
    text-align: center;
}

p.powered-center {
    text-align: center;
    padding-top: 44px;
    color: #B3B3B3;
    font-size: 7px;
}

.product-thumb h4 a {
    color: #8C2F52;
    font-family: BentonSansBook,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}



}


/* content */
#content {
	min-height: 600px;
	/*top: 534px;*/
}
/* footer */
footer {
	/*margin-top: 463px;*/
	padding-top: 30px;
	background-color: #000000;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
	
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
    text-decoration: none;

}
footer a:hover {
	color: #fff;
}
footer h5 {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: Montserrat;
	font-size: 15px;
	color: #fff;
}

#date h5 {
	
	color: #ccc;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

p.powered-center{
	text-align: center;
	padding-top: 65px;
	color: #B3B3B3;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 100px 0;
	padding: 8px 0;
	border: 1px solid transparent;
	color: transparent;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 transparent;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: -5px;
    width: 0px;
    height: 12px;
    border-right: 1px solid #7F8E99;
    border-bottom: 1px solid #7F8E99;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(0deg);
}
.breadcrumb > li > a{
	color: #7F8E99;
	font-family: Montserrat;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	/*border: 1px solid #cccccc;*/
	border-radius: 1px;
	/*box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);*/stroke: 
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}

.btn-group>.btn:first-child{
	margin-right: 0px;
}
.btn-default {
	color: #fff;
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
	/*background-color: #e7e7e7;*/
	background-color: #000000;
	/*background-image: linear-gradient(to bottom, #eeeeee, #dddddd);*/
	background-repeat: repeat-x;
	/*border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;*/
}
.btn-primary {
	color: #fff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	background-color: #000000;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
	border-color: transparent;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #8C2F52;
	background-position: 0 -15px;

}

#button-margin .btn-primary {
	margin-bottom: 15px;

	}

.btn-default:hover{
	color: #fff;
    background-color: #8C2F52;
    border-color: #ccc;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	/*border-color: #f89406 #f89406 #ad6704;*/
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #666;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
	/*background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);*/
	background-repeat: repeat-x;
	/*border-color: #bd362f #bd362f #802420;*/
	border-color: #cccccc;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	/*box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);*/
}


#cart .btn-danger {
 	background-color: transparent;
  	border-color: #cccccc;
  	color: #cccccc;
  	text-shadow: none;
 }

  #cart .btn-danger:hover {
  	color: #8C2F52;
 	background-color: transparent;
  	border-color: #cccccc;
 }

#car .btn-danger:hover .fa-times {
	color: #8C2F52;
	border-color: #666;
}



.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #EF8191;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
	/*background-color: #363636;*/
	background-color: transparent;
	/*background-image: linear-gradient(to bottom, #444444, #222222);*/
	background-repeat: repeat-x;
	/*border-color: #222222 #222222 #000000;*/
}
#cart .btn-inverse:hover{

	color: #444;
}



.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	/*background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);*/
	color: #fff;
}
/* list group */
.list-group a {
	border: 1px solid transparent;
	color: #888888;
	padding: 8px 12px;
	font-family: Montserrat;
	font-style: bold;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #8C2F52;
	background: transparent;
	/*border: 1px solid #DDDDDD;*/
	/*text-shadow: 0 1px 0 #FFF;*/
	font-family: Montserrat;

}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	/*border: 1px solid #ddd;*/
	margin-bottom: 50px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
	
}

.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
	width: 383px;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
.col-sm-8 {
    width: 54.666667%;
}


}
.product-thumb h4 {
	
	font-family: Montserrat;
	font-size: 16px;
}

.product-thumb h4 a {
	color: #8C2F52;
	font-family: Montserrat;
	}

.product-thumb .caption {
	padding: 0 20px;
	min-height: 50px;
	text-align: center;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 70px;
	padding: 0 10px;
}


}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-thumb h4 {
	
	font-size: 14px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
	font-weight: bold;
	font-size: 15px;
	font-family: Montserrat;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}

#product-btn-size div.button-group{
	width: 50%;
   
}

div.button-group{
	width: 70%;
    height: 100%;
    margin: auto;
    text-align: center;
}

#product-btn-size .fa-shopping-cart{
	font-size: 14px;
}

}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}


}
.product-thumb .button-group button {
	width: 100%;
	border: none;
	display: inline-block;
	/*float: left;*/
	background-color: #000000;
	color: #FFFFFF;
	line-height: 38px;
	/*font-weight: bold;*/
	text-align: center;
	font-size: 13px;
	font-family: Montserrat;
	/*text-transform: uppercase;*/
}


.button-group button{
	/*width: 100%;*/
	border: none;
	display: inline-block;
	/*float: left;*/
	background-color: #000000;
	color: #FFFFFF;
	line-height: 38px;
	/*font-weight: bold;*/
	text-align: center;
	font-size: 16px;
	font-family: Montserrat;
	/*text-transform: uppercase;*/

}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #fff;
	background-color: #8C2F52;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 50%;
	}



}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 50%;
	}


}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}

.image-additional a:hover {

	border-color: #8C2F52;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

.thumbnail-main > img{
	display: inline-block;
    width: 577px;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}

	
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
	
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
		
	}

	

	/* Slideshow fixed */
#slideshow-fixed .swiper-container {
	margin-top: 120px;
}
/*End Slideshow fixed */
}


/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }


}

<<<<<<< HEAD


=======
>>>>>>> master
/* Home Page */


/* Home Page End  */


/* Product Page */


/* Product Page End */


/* Featured */


/* Featured End */

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

#common-home {
	padding-left: 0;
	padding-right: 0;
	overflow-x: hidden;
}

#common-home #content {
	padding-left: 0;
	padding-right: 0;
}
.table-bordered {
	border: 1px solid transparent;
}

.table-bordered>tbody>tr>td {
	border: 1px solid transparent;
}

.table-bordered>thead>tr>td {
	border: 1px solid transparent;
}
.table-bordered>tfoot>tr>td, .table>tfoot>tr>td, .table-bordered>tfoot>tr>td, .table>tfoot>tr>td{
	border: 1px solid transparent;
}

.text-center {
	color: transparent;
}

.text-center .img-thumbnail {
	display: inline-block;
    max-width: 100%;
    width: 100px;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#product-size a {
	font-size: 16px;
	font-weight: bold;
}



.text-left a {
	font-size: 10px;
	font-weight: bold;
}
.text-left a:hover {
	color: #8C2F52;
}

 .pull-left-2 {
 	float: right;
	float: right!important;
	
 }

 .pull-left-2 a {
	text-decoration: underline;
	padding-right: 15px;
	
}

.pull-left-2 a:hover {
	color: #8C2F52;
	
}



/*Este es el CSS del Search */

.input-group-2{
	position: relative;
    display: table;
    border-collapse: separate;

}

.input-group-2 .form-control-2:first-child{
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


select input[type="text"].form-control-2 {
	font-size: 12px;

}

.input-group-2 .form-control-2, .input-group-addon, .input-group-btn-2 {
	display: block;
}

.input-group-2 .form-control-2{
	position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-control-2 {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-2 {
border-collapse: separate;
}

.input-group-btn-2 {
	position: relative;
    font-size: 0;
    white-space: nowrap;

}
.input-group-btn-2 {
	width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-btn-2 {
	display: block;
}
.input-group-btn-2:last-child>.btn{
	z-index: 2;
    margin-left: -1px;
}
.input-group-btn-2:last-child>.btn{
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-btn-2>.btn{
	position: relative;
}

.search-right {
	position: relative;
	float: right;

	padding-right: 10em;
}

/* Ocualta el Search en mobil*/
@media handheld, only screen and (max-width: 767px) {
.search-right {
display:none;
}


}

@media only screen and (max-width: 1023px) {
.search-right {
display:none;
}


}
/* End Ocualta el Search en mobil*/


@media screen and (max-width: 440px) {
.nav{
	padding-left: 0%;
}


}

@media screen and (max-width: 834px){
.navbar-nav > li{
	right: 0%; 

}
.navbar-nav {
    margin: 7.5px -15px;
	float: none;
}
.navbar-collapse{
padding-right: 0px;
}

.nav{
	padding-left: 0%;

	}

.cart-right{
	float: right;
    margin-right: 15px;
    margin-top: -40px;
	}



.text-center .img-thumbnail {
	
    max-width: none;
	}


}

@media screen and (max-width: 767px){
	#cart .fa-shopping-cart	{
	font-size: 25px;
	color: #444;
	}

#cart .fa-shopping-cart:hover	{
	color: #8C2F52;
	}

	


	#sr-mobil .fa-search{
		font-size: 22px;
		color: #444;
	}

	#sr-mobil .search-mobil{
		margin: -32px 0px 0px -26px;
		font-size: 22px;
		color: #444;
	}
}

 #accordion .panel-default > .panel-heading {
	color: #333;
    background-color: #fff;
    border-color: #ddd;
}


#product div.radio {
	display: contents;

}

#product .radio label {
	padding-left: 0px;
}


/* La imagen del seleciona el color es animada y hace una rortacion */
#product img.img-thumbnail:hover {

-webkit-border-radius:50%;
box-shadow: 0px 0px 5px 5px #8C2F52;
-webkit-box-shadow: 0px 0px 1px 1px #8C2F52;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);

}

/* Radio Button Oculto */
.radio input[type=radio] {
  display: none;
}

/* Imagen del color opacity*/
.radio input[type=radio]:checked ~ img {
  
  border: 1px solid #8C2F52;
  box-shadow: 0px 0px 5px 5px #8C2F52;
-webkit-box-shadow: 0px 0px 2px 2px #8C2F52;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);

}

/* Link de ver guia de talla*/
.form-group a{
	color: #8C2F52;
}

.form-group a:hover{
	color: #666;
}


/* Popup de guia de talla*/
.pop-up-button {
  background:none;
  width:150px;
  height:0px;
  line-height:30px;
  text-align:left;
  color:#8C2F52;
  margin-left: 4px;
  /*margin:200px auto;*/
  border-radius:5px;
  /*border:1px solid #FFEA53;*/
  cursor:pointer;
  /*font-weight:bold;*/
}

.pop-up-button:hover{
  color: #666;
	}
.pop-up {
  height:auto;
  width:100%;
  margin:2vh auto;
  background:#fff;
  position:relative;
  z-index:1;
  border-radius:1px;
  box-shadow: 0 0 5px #8C2F52;
}
.pop-up-container{
  height:100vh;
  width:100%;
  background:#000;
  opacity:.5;
  position:relative;
  z-index:-1;
  margin-top:-500px;
}
.pop-up span {
border-radius: 0em;
margin-left: 92%;
background: #8C2F52;
color: #fff;
font-size: 1.25em;
padding: 0.1em 0.7em;
cursor: pointer;
}
.pop-up-text {
  box-sizing:border-box;
  padding:20px;  
}
.pop-up-text h1{
  font-size:2em;
	font-weight:bold;
  margin-bottom:20px;
	color:#212121;
}
.pop-up-text p{
  font-size:13px;
  margin-bottom:1em;
}
.pop-up-text a {
  color:#FF3D3D;
  margin-bottom:10px;
}
.pop-up-text img {
  max-height:250px;
  width:100%;
  text-align:center;
  margin-bottom:10px;
}
/* end popup*/



/* text_related */
.h3-center {
	text-align: center;
} 



/* Tabla de guia de talla popup*/
.pop-up .h1-popup {
    font-size: 16px;
      color: #8C2F52;
      font-weight: bold;
      font-family: Montserrat;
      line-height: 1.6;
      text-align: center;

  }

  .h3 {
	font-size: 16px;
  	color: #000000;
  	font-family: Montserrat;
  	font-weight: Bold;
  	text-align: center;
    line-height: 1.6;
}
  
  #table-popup .h4-popup {
    font-size: 14px;
      color: #666666;
      font-family: Montserrat;
      line-height: 1.6;
      margin: 0px 10px 10px;
      
    
  }
  
  #table-popup p{
    margin: 0px 10px 10px;
  }
  
    
    
     @media (max-width: 440px){
        #table-popup  {
         width: 100%;
         }
         /* Slideshow fixed */
#slideshow-fixed .swiper-container {
	margin-top: 70px;
}
/*End Slideshow fixed */


    }
    
    
    @media (min-width: 768px){
        #table-popup  {
         width: 100%;
         }

          /* Slideshow fixed */
#slideshow-fixed .swiper-container {
	margin-top: 120px;
}
/*End Slideshow fixed */

    }
    
   #table-popup table {
    font-family: Montserrat;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    
  }

 #table-popup  td, th {
    border: 1px solid transparent;
    text-align: center;
    padding: 8px;
    height:30px;
    
  }

 #table-popup  tr > th {
  color: #fff;
  background-color: #8C2F52;

  }



 #table-popup  tr:nth-child(odd) {
   background-color: transparent; 
   
    
  }
 #table-popup  tr:nth-child(even) {
    background-color: rgba(239, 129, 149, 10%); 
    
    
  }
  /* End Tabla de guia de talla popup*/



  /* Shadow and Border */
  .btn:focus{
  	outline-color: transparent;
  }
  .btn.active:focus,
  .btn.active.focus:focus,
  .btn:active:focus,
  .btn.focus:active,
  .form-control-2:focus {
  	outline-color: rgba(150,150,150,.4);
  	outline-width: 1px;
  }

  .form-control:focus {
    border-color: #ccc; 
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(150,150,150,.6); 
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(150,150,150,.6); 
}
/* End Shadow and Border */


/*Ocultar Iconos de Login, corrito, moneda.. */
@media handheld, only screen and (max-width: 440px) {
	.icon-hide {
	display:none;
	}
	.checkout-hide{
	display:none;
	}


}

@media only screen and (max-width: 767px) {
	.icon-hide {
	display:none;
	}
	.checkout-hide{
	display:none;
	}


}
/*End Ocultar Iconos de Login, corrito, moneda.. */



/*ocultar icono de carrito en mobil*/
@media handheld, only screen and (max-width: 440px) {
	#top {
	display:none;
	}



}

@media only screen and (max-width: 767px) {
	#top {
	display:none;
	}


}
 /* End de ocultar icono de carrito en mobil*/


/*ocultar icono de carrito en desktop */
@media  screen and (min-width: 768px) {
	.cart-right {
	display:none;
	}



}



/* Logo Mobil */
@media (max-width: 440px) {
#logo {
	margin: auto;
    text-align: center;
    width: 112px;
    margin-top: 15px;
	}
}


@media (min-width: 440px) {
#product-category .breadcrumb {
    margin: 26px 0 100px 0;
    padding: 8px 0;
    border: 1px solid transparent;
    color: transparent;
}

/* CSS de ipad customizar */
#product .form-control{
	width: 45%;

}

#product .btn-block{
	    width: 45%;
}

#product .pop-up-button{
	width: 100%;
}

}

/* Button menu animado */
@media (max-width: 767px) {

#product-category .breadcrumb{
		margin: 0px 0 20px 0;
		padding: 8px 0;
		border: 1px solid transparent;
		color: transparent;
	}


.btn-menu-w {
	width: 26px;
	height: 20px;
	display: block;
	cursor: pointer;
	position: absolute;
	left: 0;
	/*bottom: 18px;*/
	margin: auto;
	margin-left: 15px;
        margin-top: -38px;

}

.btn-menu-w span {
	position: absolute;
	top: 0.7em;
	left: 0.1em;
	background-color: #444;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */

}
.btn-menu-w span:before {
	position: absolute;
	top: -0.6em;
	left: 0;
	content: ' ';
	background-color: #444;
	
}
.btn-menu-w span:after {
	position: absolute;
	top: 0.6em;
	left: 0;
	content: ' ';
	background-color: #444;
}


.close span {
	position: absolute;
	left: -6em;
	top: -0.2em;
	background: none;
        
}

#menu .close {
opacity: 1;

}

.close span:after {
	position: absolute;
	left: 6em;
	top: 0.6em;
	background-color: #444;
	 transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg); 
}
.close span:before {
	display: block;
	position: absolute;
	background-color: #444;
	top: 0.6em;
	left: 6em;
	 transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 
	-webkit-transform:rotate(-45deg);
}

.btn-menu-w span,.btn-menu-w span:before,.btn-menu-w span:after,.close span,.close span:before,.close span:after {
	width: 23px;
	height: 4px;
	
 	-moz-transition: all .5s cubic-bezier(0.5,-0.6,0.19,1);  
	-o-transition: all .5s cubic-bezier(0.5,-0.6,0.19,1);  
	-webkit-transition: all .5s cubic-bezier(0.5,-0.6,0.19,1);
	transition: all .5s cubic-bezier(0.5,-0.6,0.19,1);
}



}
/* end button responsive animado*/


/* Dropdown login */
#top-links .dropdown-menu{
	border-radius: 1px;

}

/* size icon login, shopping */
#top-links .fa-user, .fa-shopping-cart{
	font-size: 23px;

}


/* Header fixed */

#fixed .header-fixed{
	float: left;
    width: 100%;
    z-index: 999;
    background: #fff;
    position: fixed;
    margin-right: -15px;
    margin-left: -15px;
}

/* end Header fixed */


/* Top link fixed */
#top .top-fixed{
	float: left;
    width: 100%;
    z-index: 1001;
    background: #fff;
    position: fixed;
}

/* Product Category 2 Columns Width */

#common-home .col-xs-6,
#common .col-xs-6,
#product-category .col-xs-6 {
	width: 50%;
}







